header{
    background-color: blue;
    height: 250px;
}

nav{
    background-color: aqua;
    height: 100px;
    
}

#esquerda{
    background-color: yellow;
    min-height: 150px;
    width: 60%;
    float: left;
}

#direita{
    background-color: violet;
    min-height: 150px;
    width: 40%;
    float: right;
}

footer{
    clear: both;
    background-color: brown;
    height: 30px;
}

*{
    margin: 0;
}