/*Fiz toda a configuração de proporções utilizando o "medidas variaveis" para ficar mais fácil a responsividade*/


    /*Zerei as configurações de margin e padding para nao atrapalhar a construção*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    color: white;
    font-family: sans-serif;
    align-items: center;
}

.inicio{
    background-color: rgba(0, 0, 0, 0.849);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    position: fixed;
    padding: 10px;
}

.links{
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
    border: 3vw;
    border-radius: 3vw;
    transition: border-color 0.2s ease-in;
}

.links:hover{
    border-color: white;
    opacity: 0.5;
}

/*Fixei o topo da pagina para intituir uma transição melhor pelo portifolio*/
.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.topo_geral{
    margin-top: 3.5vw;
    display: flex;
    width: 100%;
    height: 10vw;
    
}

.esquerda {
    width: 30%;
    height: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

.esquerda img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    padding: 0,2vw,0,2vw;

}

.direita{
    gap: 1vw;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 5%;
    font-family:sans-serif;
    flex-direction: column;
}

.direita a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    font-size: 1.4vw;
}

.contatos{
    gap: 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    color: #1C1C1C;
}

.contatos a{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    color: white;
    font-size: 1.3vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
    font-family: sans-serif;
}

.contatos h1{
    color: white;
}

.contatos img{
    height: 3vw;
}


.espaco_sobremim{
    box-shadow: 2px 2px 10px rgba(29, 4, 4, 0.199);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 38vw;
    flex-direction:column;
    margin-bottom: 3vw;
}

.titulo_sobremim{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30%;
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-left: 2vw;
}

.texto_sobremim{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.texto_sobremim a{
    padding: 5%;
    font-size: 1.4vw;
    font-family: sans-serif;
    display: flex;
}

.espaco_habilidades{
    gap: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30vw;
    flex-direction: column;
}

.habilidade{
    border-radius: 2vw;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #6c757d;
}

.habilidade:hover{
    background-color: #343a40;
}

.habilidade a{
    margin-left: 2vw;
    font-size: 1.2vw;
    color: #002855;
}

.titulo_habilidades {
    height: 6vw;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    font-family: sans-serif;
    margin-left: 2vw;
}

.espaco_projetos{
    gap: 0.5vw;
    margin-top: 1.5vw;
    height: 6vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_projetos{
    height: 6vw;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    font-family: sans-serif;
    margin-left: 2vw;
}

.nome_projeto{
    height: 6vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 750;
    font-size: 1.37vw;
    font-family: sans-serif;
    color: #2c7da0;
}

.descricao_projeto {
    padding: 2%;
    height: 2vw;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
}

.pe{
    margin-top: 1vw;
    height: 3.5vw;
    width: 100%;
    background-color: #2a6f97;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
    color: #343a40;
    font-weight: 700;
}

/*Configuração para responsividade*/
@media (max-width: 1000px){

    .esquerda img{
        height: 150%;
        width: 100%;
        border-radius: 50%;
    }

    .direita a{
        font-size: 1.8vw;
    }

    .topo_geral{
        margin-bottom: 4vw;
        margin-top: 7vw;
    }

    .contatos a{
        font-size: 1.6vw;
    }

    .titulo_sobremim{
        font-size: 2.5vw;
    }

    .texto_sobremim a{
        font-size: 2vw;
    }

    .espaco_sobremim{
        height: 78vw;
    }

    .texto_sobremim{
        padding: 15%;
    }

    .titulo_habilidades{
        font-size: 2.5vw;
    }

    .habilidade a{
        font-size: 2vw;
    }

    .titulo_projetos{
        font-size: 2.5vw;
    }

    .nome_projeto{
        font-size: 2vw;
    }

    .descricao_projeto{
        margin-top: 1vw;
        font-size: 1.7vw;
    }

    .espaco_projetos{
        height: 10vw;
    }

    .pe{
        height: 4.5vw;
        font-size: 1.7vw
    }
}